.App {
  height: 100vh;
  text-align: center;
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.title{
  font-size: 3rem;
  color: #00BF52;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button{
  background-color: #00112C;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-weight: 400;
  font-size: larger;
  margin: 30px;
  
}
button:hover{
  color: #00BF52;
  box-shadow: 2px 1px 10px 5px #c0cfc5;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
